<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTO Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.shrimp.customer.vo.CustomerModel" alias="customerModel"/>
        <typeAlias type="com.shrimp.customer.vo.CustomerQueryModel" alias="customerQueryModel"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.shrimp.pageutil.PagePlugin">
            <property name="dialect" value="mysql"/>
            <property name="pageSqlId" value=".*Page.*"/>
        </plugin>
    </plugins>
</configuration>